body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f9f0;
  color: #333;
}

h2 {
  text-align: center;
  color: #295a29;
  margin: 20px 0;
}

h3 {
  color: #4caf50;
  margin-left: 47%;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

li {
  background: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
